:root {
  --white: #ffffff;
  --gray: #d9d9d9;
  --black: #000000;
  --primary-color: #040D12;
  --secondary-color: #315c5c;
  --dark-secondary-color: #0e3636;
  --tertiary-color: #93B1A6;
  --light-tertiary-color: #f1f1f1;
  --text-color: #040D12;

  --font-family: 'Roboto', sans-serif;
}
